@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label class="control-label">Name</label>
                <input class="form-control" id="Name"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Description</label>
                <input class="form-control" id="Description" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Price</label>
                <input class="form-control" id="Price" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
            <input type="button" id="CreateBtn" value="Create" class="btn btn-primary" />
            </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">

        function Saveproductinfo(){
        var ProductName = $("#Name").val();
        var description = $("#Description").val();
        var price = $("#Price").val();


            var Product = {
            name: ProductName,
            description: description,
            price: price

        }
        $.ajax({
            url: '@Url.Action("CreateProduct", "Product")',
            method: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            async: true,
            dataType: 'json',
            data: JSON.stringify(Product),
            success: function (response) {
                alert("Product created successfully!");
            },
            error: function () {
                alert("Failed");
            }
        });
        };


        $("#CreateBtn").click(function () {
            alert("click");
            Saveproductinfo();
        });
    </script>
}
